body {
	background-color: rgb(69, 105, 144);
}

#Middle {
	width: 800px;
	background-color: rgb(238, 184, 104);
	margin: 0 auto;
}

#Links {


}

#Header {


}

#Main {


}

#Footer {


}